*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --background-color: #fff;
    --button-color: #ec6e06;
    --border-radius: 5px;
    --txt-color:#000;
    --background2: #706f6f;
}
body{
    background: #dfdfdf;
}
.container{
    width: 100%;
    height: 100vh;
}
.navs{
    width: 100%;
    height: 100px;
}
.title{
    width: 100%;
    height: 50px;
    background: var(--background2);
    display: grid;
    grid-template-columns: 300px 1fr;
}
.logo-w{
    display: flex;
}

.logo-w p{
    color: var(--button-color);
    width: 40%;

}
.wrap6{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
nav{
    background: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60px;
}
.nav-links ul{
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}
.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-top: 15px;
    padding: 5px 30px 0 30px;
    gap: 30px;
    height: 70%;
}
.sidebar{
background: #fff;
border-radius: var(--border-radius);
}
.sidebar ul{
    padding: 10px 10px 10px 10px;
}
.sidebar ul li{
padding: 10px;
transition: 0.5s ease all;
color: #000;
}
.sidebar ul li a{
    color: #000;
}
.sidebar ul li:hover{
    background: gray;
}
hr{
 color: #00000046;
}
.cards{
    border-radius: var(--border-radius);
    background: #fff;
}
.card-title{
    padding: 10px;
}
.order-type{
    display: flex;
    gap: 20px;
    padding: 10px;
}
.order-type div a{
    color: #000;
}
.order-type div{
    transition: 0.5s ease all;
}
.order-type div:hover{
    border-bottom: 1px solid #ec6e06;
    color: #ec6e06;
}
.card{
    width: 100%;
    padding: 20px;
}
.card-bx .bx{
    padding: 10px;
    border: 1px solid #0e0e0e7e;
    margin-top: 30px;
    border-radius: 5px;
}
.card-bx div img{
    width: 100px;
    height: 100px;
}
.btn{
    background-color: rgb(17, 134, 17);
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}
.bx{
    display: flex;
}
.card-bx .bx div p{
    padding: 10px;
}


